@font-face {
    font-family:sans;
    src: url(WorkSans-Regular.ttf);
}

*{
    margin:0;
    padding:0;
    text-decoration: none;
    font-family: sans;
    box-sizing: border-box;
}

/*SECTION 1-HEADER*/

.header{
    height: 100vh;
    width:100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/first.jpg);
    background-position: center;
    background-size: cover;
}

/*NAVIGATION BAR 1*/

#nav1{
    padding: .5em 18em;
    background-color: #525252;
    text-transform: uppercase;
}
.first-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav-links1{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.link1{
    font-size: .7em;
    color: #A5ABA0;
    margin-right: 1.25em;
    transition: all ease-in-out .3s;

}
.link1:hover{
    text-decoration: underline;
}
.exitlogin{
    display: flex;
    margin:0 .5em;
    align-items: center;
    background: #FF4500;
}
.exit{
    background-color:#A5ABA0; ;
    padding: .5em .55em;
}
.fa-right-from-bracket{
    color: #fff;
    font-size: 1rem;
    transition: all ease-in-out .3s;
}
.fa-right-from-bracket:hover{
  transform: scale(1.3);
}
.login{
    color:#fff;
    background: #FF4500;
    font-size: .7em;
    padding: .5em;
    transition: all ease-in-out .3s;
}
.login:hover{
    font-weight: bold;
}


/*NAVIGATION BAR 2*/

#nav2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A5ABA0;
}
.nav-links2{
    display: flex;
    justify-content: center;
    align-items: center;

}

.nav-links2 a.link2{
    padding:2.4em 3.5em ;
    font-size: .7em;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    border-right: #72796d 1px solid;
    transition: all ease-in-out .3s;
}
.link2:hover{
    text-decoration: underline;
}
.home{
    background-color: #FF4500;
    padding: 1.4em;
}   
.fa-house-chimney{
    font-size: 1.25em;
    color: #fff;
    transition: all ease-in-out .3s;
}
.fa-house-chimney:hover{
    transform: scale(1.3);
}


/*TITLE*/

.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top{
    display: flex;
    align-items: center;
    margin:5em auto;
    
}
.title-icon{
    background-color: #FF4500;
    padding: 1.5em;
    border-radius: 50%;
}
.title-icon .fa-laptop{
    font-size:1.25em;
    color: #fff;
}
.title{
    margin: .5em;
}
.title h1{
    font-size: 2.7em;
    text-transform: capitalize;
    color: #fff; 
    font-weight:100; 
}
.title p{
    font-size: .57em;
    color: #fff;
    text-transform: uppercase;
}

/*TEXTBOX*/

.textbox{
    display: flex;
    flex-direction: column;
    color: #fff;
    text-transform: capitalize;
    text-align: center;
    margin: 1em auto;

}
.textbox h1{
    font-size: 4em;
    font-weight: 100;

}
.textbox p{
    font-size: 1.5em;


}

/*SEARCH BAR*/

.search-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5em auto;

}
#search{
    background: #fff;
    width:25em;
    height: 2.813em;
    display: flex;
} 
#search input{
    flex: 1;
    padding-left: .5em;
    border:none;
    outline: none;
}
#search button{
     background: #FF4500 ;
     padding: 10px 15px;
     border: none;
     outline: none;
     cursor: pointer;
}
.fa-magnifying-glass{
    font-size: 1.5em;
    color: #fff;
    transition: all ease-in-out .3s;
}
.fa-magnifying-glass:hover{
    transform: scale(1.2);
}
/*SECTION 2- SERVICES*/

.main-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #D6D6D6;
    padding:4em 8em;
}
.sub-container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width:20%;
    background-color: #fff;
    padding-top: 3em;
    margin: 1em;
    transition: all ease-in-out .3s;
}
.sub-container:hover{
    transform: scale(1.1);
}
.services-icon1{
    background-color: #FF4500;
    padding: 1em;
    border-radius: 50%;

}
.fa{
    font-size: 2em;
    color: #fff;
}
.services-icon2{
    background-color: #A5ABA0;
    padding: 1em;
    border-radius: 50%;

}

.services-icon3{
    background-color:#525252;
    padding: 1em;
    border-radius: 50%;

}

.services-icon4{
    background-color:#3B3B3B;
    padding: 1em;
    border-radius: 50%;

}

.services-text{
    padding-top: 1em;
}
.services-text h3{
    font-size: 1.75em;
    color: black;
    margin:.5em 0;
    text-align: center;
    text-transform: uppercase;
}
.services-text h4{
    font-size: 1.18em;
    color: #FF4500;
    text-align: center;
    text-transform: uppercase;
}
.services-text p{
    font-size: .875em;
    color: #979797;
    text-align: center;
    padding: 1.5em;
}
.info-text{
    display: flex;
    align-items: center;
    padding: .75em .75em .75em 1.5em;
    margin-top: 1.5em;
}
.info{
    flex:1;
    justify-content: left;
    font-size: .781em;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;

}
#one{
    background-color: #FF4500;   
}
#two{
    background-color: #A5ABA0;
}
#three{
    background-color: #525252;
}
#four{
    background-color: #3B3B3B;
}

.fa-angle-right{
    font-size: 2em;
    color: #fff;
}

/*SECTION 3 -ABOUT*/

.about{
    display: flex;
    padding: 4em 13em;
}
.about-container{
    display: flex;
    width:100%;
}

.about-content1{
    margin:.5em;
    width:60%;
}
.about-content1 h2{
    font-size: 2em;
    color: #FF4500;
    text-transform: uppercase;
    margin-bottom: .5em;
}
.content1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content1-icon{
    background: #3B3B3B;
    padding: 2.5em;
    margin:.5em;
    border-radius: 50%;
}
.content1-icon .fa{
    color: #fff;
    font-size: 2.5em;
}
.content1-icon .fa-regular{
    font-size:3em;
    color: #fff;
}
.content1-text{
    margin:1em;
    padding: .5em;
}
h4.first{
    font-size: 1.1em;
    color: black;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: .5em;
    
}
h4.second{
    font-size: 1.1em;
    color: #FF4500;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 1em;
}
.content1-text p{
    font-size: .875em;
    color:#979797;
    text-align: left;
}  

.about-content2{
    margin: .5em;
    width:40%;
    
}
.about-content2 h2{
    font-size: 2em;
    text-transform: uppercase;
    color: black;
    margin-bottom: 1em;

}
.about-content2 p{
    font-size: .875em;
    color:#979797;
    text-align: left;
    margin-bottom: 1.5em;
}
.content2{
    display: flex;
    align-items: center;
    text-align: left;
}
.content2-icon{
    background-color: #FF4500;
    padding: 1.5em;
    margin: .5em;
    border-radius: 50%;
}
.content2-icon .fa-regular{
    color: #fff;
    font-size: 1.25em;

}
.content2-text{
    font-size:1em;
    color: black;
    text-transform: uppercase;
    padding: 1em;
}
.box{
    display: flex;
    justify-content: center;
    margin: 2.5em 0;
}
.box-text{
    font-size: 1.5em;
    color: #fff;
    text-align: left;
    padding: 1.25em 2em;
    text-transform: uppercase;
    background-color: #A5ABA0;
}
.box-out{
    background-color: #3B3B3B;
}
.box-icon{
    background-color: #FF4500;
    padding: 1em;
    margin: 2.18em;
    border-radius: 50%;
}
.box-icon .fa-file-lines{
    color: #fff;
    font-size: 1.15em;
}

/*--SECTION 4 -MORE ABOUT-*/

.more-about{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(73, 74, 82, 0.3),rgba(62, 64, 69, 0.3)),url(images/second.jpg);
    background-position: center;
    background-size: cover;
}
.more-about-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4em;
    width:80%;

}
.more-about-text{
    flex:1;
    font-size: 3em;
    text-transform: uppercase;
    color: #fff;

}
.more-about-icon{
   background-color: #FF4500;
   padding: 1.5em;
   border-radius: 50%;
}
.more-about-container .more-about-icon .fa-file-lines{
    font-size: 1.5em;
    color: #fff;
}

/*SECTION 5 -SUBSCRIBE*/

.subscription{
    display: flex;
    align-items: center;
    justify-content: center;
    background:#D6D6D6;
}
.subscribe-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5em;
    text-transform: uppercase;
}
.subscribe-container .fa-envelope{
    color:#FF4500;
    font-size: 1.75em;

}
.subscribe-container p{
    font-size: 1em;
    color: #3B3B3B;
    margin: .75em;
}
#newsletter{
    background: #D6D6D6;
    width:30em;
    height: 3.5em;
    margin-left:1em;
    display: flex;
}
#newsletter input{
    margin: .5em;
    text-transform: uppercase;
    flex: 1;
    padding:1em;
    border:none;
    outline: none;
}
#newsletter button{
    color: #fff;
    font-size: .8em;
    font-weight: bold;
    background-color: #FF4500;
    outline:none;
    border:none;
    padding: 0 3em;
    margin:.5em;
    cursor: pointer;
}

/*SECTION 6-FOOTER*/

.footer{
    background-color: #3B3B3B;
    padding: 5em 13em;
    display: flex;
    flex-direction: column;
}
.footer-main1{
    display: flex;
}
.main1{
    display: flex;
    flex: 1;
    flex-direction: column;
}
.main1 h4,.main2 h4{
    font-size: 1em;
    color: #fff;
    text-transform: uppercase;

}
.sub1-1 ul li{
    color:#A5ABA0;
    font-size: .75em;
    text-transform: uppercase;
    list-style: none;
    padding: .5em;
}
.sub1-1{
    display: flex;
}
.col{
    margin:2em 0em 1em 0em;
    padding-right: 15%;
}
.main2{
    display: flex;
    flex-direction: column;
}
.sub1-2{
    margin:3em 0;
}
#facebook{
    background-color: #FF4500;
    padding: 1em;
    border-radius: 50%;
    margin-right: .5em;
}
.social{
    background-color:#A5ABA0;
    padding: 1em;
    border-radius: 50%;
    margin-right: .5em;
}
.fa-brands,.fa-rss{
    font-size: 1.25em;
    color: #fff;
}

.footer-main2{
    display: flex;
    align-items: center;
    margin-top: 5em;
}
.footer-logo{
    display: flex;
    flex:1;
    align-items: center;
}

.fl-icon{
    background-color: #FF4500;
    padding: 1em;
    border-radius: 50%;
}
.fl-icon .fa-laptop{
    font-size: 1em;
    color: #fff;
}
.fl-text{
    margin: .5em;
}
.fl-text h1{
    font-size: 2em;
    text-transform: capitalize;
    color: #fff;

}
.fl-text p{
    font-size: .4em;
    text-transform: uppercase;
    color: #fff;
}
.copyright{
    display: flex;
    margin: 1.5em;

}
.copyright h4{
   color: #fff;
   text-transform: uppercase;
   font-size: 1em;
}
#copy{
    color:#A5ABA0;
    font-size: .9em;
    text-transform: capitalize;
    padding-left: .5em;
}

/*MEDIA QUERIES*/

@media (min-width:2558px){
    #nav1{
        padding: 1.15em 35em;
    }
    .link1{
        font-size:1.15em;
    }
    .login{
        font-size: 1.15em;
        padding: 1em;
    }
    .exit{
        padding: 1.1em;
    }
    .fa-right-from-bracket{
        font-size: 1.5rem;

    }
    .nav-links2 a.link2{
        font-size: 1.15em;
        padding: 2em 3.5em;
    }
    .home{
        padding: 2.4em;
    }
    .fa-house-chimney{
        font-size: 1.7em;
    }
    .top{
        margin:7em auto;
    }
    .title-icon{
        padding: 2.5em;
    }
    .title-icon .fa-laptop{
        font-size: 2em;
    }
    .title h1{
        font-size:4.5em;
    }
    .title p{
        font-size: .9em;
    }
    .textbox h1{
        font-size: 6.5em;
    }
    .textbox p{
        font-size: 2.7em;
    }
    .search-wrap{
        margin: 2.5 auto;
    }
    #search{
        width: 810px;
        height:70px
    }
   #search button{
    padding: 10px 30px;
    } 
    .fa-magnifying-glass{
        font-size: 2.5em;
    }
    .main-container{
        padding: 4em 8em;
    }
    .sub-container{
        padding-top: 4em;
    }
    .services-icon1,.services-icon2,.services-icon3,.services-icon4{
        padding: 2em;
    }
    .fa{
        font-size: 3.5em;
    }
    .services-text h3{
        font-size: 2.75em;
    }
    .services-text h4{
        font-size: 2.18em;
    }
    .services-text p{
        font-size: 1.55em;
    }
    .info-text{
        padding: 1.75em 1.75em 1.75em 1.5em;
    }
    .info{
        font-size: 1.5em;
    }
    .fa-angle-right{
        font-size: 2.5em;
    }
    .about-content1 h2{
        font-size: 3em;
    }
    .content1-icon{
        padding: 3.5em;
    }
    h4.first,h4.second{
        font-size: 2em;
    }
    .content1-text p{
    font-size: 1.5em;
    }
    .about-content2 h2{
        font-size: 3em;
    }
    .about-content2 p{
        font-size: 1.5em;
    }
    .content2-icon{
    padding: 2.5em;
    }
    .content2-icon .fa-regular{
    font-size: 2em;
    }
    .content2-text{
        font-size: 2em;
    }
    .box-text{
        font-size: 3em;
    }
    .box-icon{
        padding: 2em;
        margin:3.43em
    }
    .box-icon .fa-file-lines{
        font-size: 2.5em;
    }
    .more-about-container{
        width: 90%;
    }
    .more-about-text{
        font-size: 6.5em;
    }
    .more-about-icon{
        padding: 3em;
    }
    .more-about-container .more-about-icon .fa-file-lines{
        font-size: 3.5em;
    }
    .subscribe-container .fa-envelope{
        font-size: 2.75em;
    }
    .subscribe-container p{
        font-size: 2em;
    }
    #newsletter{
        width:50em;
        height: 4.5em;
    }
    #newsletter input{
        font-size: 1.25em;
    }
    #newsletter button{
        font-size:1.25em;
    }
    .main1 h4,.main2 h4{
        font-size: 2em;
    }
    .sub1-1 ul li{
        font-size: 1.25em;
    }
    #facebook{
        padding: 2.25em;
    }
    .social{
        padding: 2.25em;
    }
    .fa-brands,.fa-rss{
        font-size: 2em;
    }
    .fl-icon{
        padding: 2em;
    }
    .fl-text h1{
        font-size: 3em;
    }
    .fl-text p{
        font-size: .65em;
    }
    .copyright h4{
        font-size: 1.5em;
    }
    #copy{
        font-size: 1.25em;
    }

} 
@media (max-width:1025px){

}
